# ==============================================================================
# Gradle
# ==============================================================================
.gradle/
**/build/
!src/**/build/
gradle-app.setting
!gradle-wrapper.jar
!gradle-wrapper.properties
.gradletasknamecache

# Ignore Gradle GUI config
gradle.properties.local

# ==============================================================================
# IntelliJ IDEA
# ==============================================================================
.idea/
*.iws
*.iml
*.ipr
out/

# ==============================================================================
# Eclipse
# ==============================================================================
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/

# ==============================================================================
# VS Code
# ==============================================================================
.vscode/

# ==============================================================================
# NetBeans
# ==============================================================================
nbproject/private/
nbbuild/
nbdist/
.nb-gradle/

# ==============================================================================
# Java
# ==============================================================================
*.class
*.jar
*.war
*.ear
hs_err_pid*
replay_pid*

# ==============================================================================
# Logs
# ==============================================================================
*.log
logs/

# ==============================================================================
# OS-specific
# ==============================================================================
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
desktop.ini

# ==============================================================================
# Project-specific / local test server
# ==============================================================================
run/
server/
*.env
local.properties
